[Container]
ContainerName=kai-app
Image=localhost/kai:latest
Volume=kai-storage.volume:/app/storage
EnvironmentFile=/etc/kai/app.env
Network=kai.network
PublishPort=80:3022
DropCapability=all
NoNewPrivileges=true
ReadOnly=true
Tmpfs=/tmp:rw,noexec,nosuid,nodev,size=256m

[Service]
Restart=always

[Unit]
After=kai-db.service
Requires=kai-db.service

[Install]
WantedBy=multi-user.target
