[Container]
ContainerName=kai-worker
Image=localhost/kai:latest
Exec=worker
Volume=kai-storage.volume:/app/storage:ro
EnvironmentFile=/etc/kai/app.env
Network=kai.network
DropCapability=all
NoNewPrivileges=true
ReadOnly=true
Tmpfs=/tmp:rw,noexec,nosuid,nodev,size=256m

[Service]
Restart=always

[Unit]
After=kai-app.service
Requires=kai-app.service

[Install]
WantedBy=multi-user.target
